#tooltip.hidden {
    display:none;
}

#tooltip
{
    position:absolute;
    width:300px;
    height:auto;
    padding:10px;
    background-color:white;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events:none;
}

div {
    float: right;
    
}

#my_dataviz {
    width: 600px;
    height: 600px;
    float: left
}

#bargraph {
 
    float: right;
    clear: left;
    
}

#desc {
    width: 300;
    text-align: center;
    float: left;
    font-size: 20
}

#desc2 {
    width: 325;
    text-align: center;
    float: left;
    font-size: 20
}

h1 {
    text-align: center;
    font-size: 100;
}

img {
    height: 400;
    
    
}

#desc3 {
    width: 325;
    text-align: center;
    float: left;
    font-size: 20
}