h1 {
    text-align: center;
    font-size: 80
}
p {
   
   text-align: center;
   font-size: 28; 
}

ul {
    text-align: center;
}

li {
    text-align: center;
    font-size: 75
}

#dashboard {
    font-size: 50;
}

a {
    color: black;
}
